@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Main Styling */
html,
body {
	font-family: 'Montserrat', sans-serif;
	background: #212734;
}

h1 {
	font-size: 2.5rem;
	font-weight: 400;
	padding: 40px 0;
	color: #fff;
}

p {
	font-size: 1rem;
	margin: 20px 0;
	line-height: 1.7em;
}

a {
	text-decoration: none;
}

/* Utility Container */
.container {
	margin: auto;
	max-width: 1300px;
	overflow: auto;
	padding: 0 20px;
}

.btn {
	display: inline-block;
	font-size: 15px;
	padding: 12px 23px;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 4px;
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.btn-purple {
	background: #7177e1;
	color: #fff;
}

.btn-orange {
	background: #ef8559;
	color: #fff;
}

/* Grid */
#grid {
	padding: 20px 0;
}

.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(100px, auto);
	gap: 20px;
}

.box {
	background: #fff;
	padding: 30px 20px;
	border-radius: 10px;
}

.box img {
	width: 100%;
	border-radius: 10px;
}

.box-1 {
	grid-column: 1;
	grid-row: 1/6;
}

.box-2 {
	grid-column: 2;
	grid-row: 1/3;
}

.box-3 {
	grid-column: 3;
	grid-row: 1/5;
}

.box-3 img {
	margin-top: 20px;
}

.box-4 {
	grid-column: 4;
	grid-row: 1/2;
}

.box-4 img {
	width: 150px;
	display: block;
	margin: 0 auto;
}

.box-5 {
	grid-column: 2;
	grid-row: 3/5;
}

.box-5 img {
	margin-top: 35px;
}

.box-6 {
	grid-column: 4;
	grid-row: 2/4;
}
